h1 lit

!= messages()

- if (count)
  p Display all #{count} text(s)
  #texts!= partial('text', texts)
- else
  p 
    | It looks like you have no texts!
  p
    | Click
    a(href=base + '/text/add') here 
    | to create a text. Login
    | as
    em "admin" 
    | and
    em "express"
    | .
