h1 lit

ul.menutab
  li.menutab login
  li.menutab 
      a(href='/register', title='Register to join') Register

!= messages()

form#login(action=base + '/login', method='post')
  p
    label(for='user[username]') Username:
    input(type='text', name='username', value='vk@hotmail.com')
  p
    label(for='user[pass]') Password:
    input(type='password', name='password', value='*****')
  p.buttons
    input(type='submit', value='Log in')