<!DOCTYPE html>
<html>
  <head>
    <title>lit</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>lit</h1>
      <p><a href="/user/register">Register</a> | <a href="/user/login">Login</a> </p>
    </div>
  </body>
</html>