<!DOCTYPE html>
<html>
  <head>
    <title>lit</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <form action= "/user" method="post">
        <%- form %>
        <input type="submit">
      </form>
    </div>
  </body>
</html>